@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@keyframes blink {                            
    0%, 100% { background-color: brown; }
    50%      { background-color: rgb(0, 0, 0); }    
}

@keyframes shake {
    0%   { transform: translateX(0); }
    25%  { transform: translateX(-5px); }
    26%  { transform: translateY(-5px); }              
    50%  { transform: translateX(5px); }
    51%  { transform: translateY(5px); } 
    75%  { transform: translateX(-5px); }
    76%  { transform: translateY(-5px); }          
    100% { transform: translateX(0); }                   
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    padding: 15px;
    border-bottom: 5px solid rgb(99, 195, 202);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background-color: wheat;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: rgb(99, 195, 202);
}

.copywright-container p {
    font-size: 16px;
    font-weight: 700;
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
}

.game-button-start {
    /* flex: 1; */
    border-radius: 10px;
    background-color: brown;
    font-size: 24px;
    color: wheat;
    font-family: "Pixelify Sans", sans-serif;
    min-height: 50px;
}

.game-button-start:hover {
    background-color: rgb(165, 78, 78);
}


.game-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
}

.game-button {
    flex: 1;
    font-family: "Pixelify Sans", sans-serif;

}

.game-button-start.blinking.shaking {                   
      animation: blink 0.2s ease-in-out 3,
      shake 0.2s ease-in 3;                  
}

.game-content-container {
    flex: 1;
    background-color: lightgrey;
    border: 1px solid grey;
    border-radius: 1em;
    width: 750px;
    margin-block: 25px;
}

.game-controls-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    gap: 5px;
    margin: 15px;
    height: 80px;
    border: 1px solid red;
}

.game-ui-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin: 0;
    border: 1px solid blue;
}

.logo {
    width: 200px;
    height: auto;
}

.logo-container {
    width: 100%;
    text-align: center;
}

.logo-subtext-container p {
    font-size: 36px;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 700;
    text-decoration: underline;
    margin: 0;
}